body{
    display: flex;
    justify-content: space-around;
    background-color: #d2dae2;
    flex-direction: column;
    height: 1500px;
    align-items: center;
}
.bao{
    display: flex;
    width: 80%;
    height: 400px;
    background-color: #575fcf;
    justify-content: space-around;
    align-items: center;
}
.to{
    display: flex;
    width: 26%;
    height: 300px;
    background-color: #ffdd59;
    justify-content: center;
    align-items: center;
    color: white;
}
.tox{
    display: flex;
    width: 26%;
    height: 300px;
    background-color: #ff5e57;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top:10px;
}
#hello{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: #0be881;
    align-items: center;
    justify-content: center;
    color: white;
}
#hi{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 60px;
    background-color: #4bcffa;
}
.toy{
    display: flex;
    width: 26%;
    height: 300px;
    background-color: #34e7e4;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
#greet{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80px;
    background-color: #ff3f34;
    position: absolute;
    top:100px;
    left: 300px;
}