body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    user-select: none;
}
#up{
    display: flex;
    justify-content: center;
    align-items: center;
}
#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    font-size: 32px;
}
.btn{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgb(177, 221, 96);
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}
#btn-reset{
    background-color: rgb(255, 99, 71);
    display: flex;
    width: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}